.dashboard-container-content {
	padding: 15px;
}

.dashboard-container-content .content-row {
	padding-bottom: 20px;
}

.money_in span {
	color: green;
}

.money_out span {
	color: darkred;
}

.money span {
	color: darkgreen;
	font-weight: 600 !important;
}

.balance div span {
	font-weight: 400;
}

.balance {
	font-size: 17.5px;
	padding-bottom: 40px;
}

.balance div {
	margin-bottom: 5px;
}
