.header_transactions {
	/* height: 20g0px; */
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
}

.content_transactions {
	padding: 15px;
}

.search_name {
	border-radius: 12px;
	justify-self: flex-end;
	width: auto;
}

.selected_entries_value {
	cursor: default !important;
	color: rgba(0, 0, 0, 0.85) !important;
	background: #fff !important;
	border-color: #d9d9d9 !important;
	border-style: dashed !important;
	font-weight: 700;
}

.selected_entries_value:hover {
	color: rgba(0, 0, 0, 0.85);
}

.money_in {
	color: green;
}

.money_out {
	color: darkred;
}
